.services-container {
  padding: 10em 2.5em 0 2.5em;
  width: 100%;
  background: $mainBackground;
  z-index: 5;

  .content {
    width: 100%;
    margin: auto;

    // Layout
    display: grid;
    grid-template-columns: repeat(2, 19em);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 3em;
    row-gap: 5em;

    .service {
      width: auto;
      cursor: pointer;
      z-index: 5;

      //   Layout
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .service-content {
        text-align: center;
        h3 {
          font-size: 1em;
          font-weight: $fontWeight1;
          margin: 1em 0;
        }

        p {
          opacity: 0.8;
          font-size: 0.8em;
          line-height: 1.6em;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 5em 1em 5em 1em;

    .content {
      grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    }
  }
}
